<div class="scanner-container" id="scanner-container">
  <div class="scanner__frame">
    <button (click)="toggleTorch()" [color]="!torchEnabled ? 'primary' : 'accent'" class="scanner__flash-button"
            mat-mini-fab>
      <mat-icon>flash_on</mat-icon>
    </button>
    <button (click)="manualEntry.emit()" class="scanner__manual-entry-button" color="accent" mat-raised-button>Can't
      scan barcode?
    </button>
    <div class="scanner__instructions">
      <strong>Scan Barcode</strong><br/>
      <em>keep the barcode in the frame to scan it.</em>
    </div>
    <video autoplay="true" muted="true" playsinline="true" preload="auto" src=""></video>
    <div class="scanner__overlay"></div>
    <canvas class="scanner__canvas"></canvas>
  </div>
</div>
