<mat-toolbar style="display: flex; flex-direction: column; align-items: flex-start">
  <span style="font-size: 12px">Member ID: {{indvId}}</span>
  <span style="font-size: 12px">Type: {{scanTypePretty}}</span>
</mat-toolbar>

<div style="position:relative;">
  <zxing-scanner (camerasFound)="onCamerasFound($event)"
                 (scanComplete)="onScanComplete($event)"
                 (scanSuccess)="onScanSuccess($event)"
                 [autofocusEnabled]="true"
                 [device]="device"
                 [enable]="enable"
                 [formats]="barcodeFormat"
                 [torch]="flashEnabled">
  </zxing-scanner>
  <div style="border:2px solid red; position:absolute; width:50%; height:50%; top:25%; left:25%;">
    <!-- This is the red box -->
  </div>
  <button (click)="flashEnabled = !flashEnabled" color="warn" mat-fab
          style="position: absolute; top: 1rem; right: 1rem;">
    <mat-icon (click)="flashEnabled = !flashEnabled" *ngIf="flashEnabled">flash_on</mat-icon>
    <mat-icon (click)="flashEnabled = !flashEnabled" *ngIf="!flashEnabled">flash_off</mat-icon>
  </button>
</div>

<div [formGroup]="form">
  <mat-form-field [formGroup]="form" style="width: 100%">
    <mat-label>Camera Select</mat-label>
    <mat-select (selectionChange)="onDeviceSelectionChange($event)" formControlName="cameraSelect">
      <mat-option *ngFor="let _device of devices" [value]="_device">
        {{_device.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
